<% content_for :title do %>About<% end %>
<h2>About Contriboot-Rails</h2>
<p>Contriboot is a tool to allow attendees of Ruby Unconf Hamburg to share their ideas prior to the conference.
  This both speeds the talk registration and voting process and hopefully inspires everyone to come up with their
  own ideas.</p>

<h3>Inspiration and name</h3>
<p>This app is inspired by the JS based counterpart of <a href="http://jsunconf.eu">JSUnconf.eu</a>, one of our sister conferences in the <a href="https://www.bootev.org/">BOOT e.V.</a> family.</p>
<p>The name is, as you may have guessed, a mashup between "to contribute" and "BOOT" which stands for "Best Of Open Technologies e.V."
  and is the legal entity that makes these wonderful Unconferences in Hamburg possible.</p>
<h3>Source code</h3>
<p>You can find the source of this app <a href="https://github.com/rughh/contriboot-rails/">on GitHub</a>.</p>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
