<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "Contriboot Ruby Unconf 2018", root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto">
      <%= render 'layouts/navigation_links' %>

    </ul>
    <ul class="navbar-nav">
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </nav>
</div>
